In [1]:
import gmaps
import numpy as np
import pandas as pd
import requests
from pprint import pprint

googlekey = "AIzaSyDNjxDlnRd64VIsyxg2PRcdNw-r1vcSAF4"


latlongbook = pd.read_csv("latlongbook.csv")
latlongbook

Empty DataFrame
Columns: [Latitude, Longitude, Name]
Index: []

In [ ]:
for i in data:
    pprint(i)

In [3]:
latlongbook1 = latlongbook.drop_duplicates()
latlongbook2 = latlongbook1[["Name", "Address"]]
latlongbook3 = latlongbook2.reset_index(drop=True)
latlongbook3

                                      Name  Address
0             Abilene Christian University  79699.0
1     Abraham Baldwin Agricultural College  31793.0
2                Academy of Art University  94105.0
3                   Adams State University  81101.0
4                       Adelphi University  11530.0
...                                    ...      ...
2069                          York College  68467.0
2070          York College of Pennsylvania  17403.0
2071                  Young Harris College  30582.0
2072           Youngstown State University  44555.0
2073                          Yuba College  95901.0

[2074 rows x 2 columns]

In [4]:
latlongbook3["Latitude"]= ""
latlongbook3["Longitude"]= ""
latlongbook3

                                      Name  Address Latitude Longitude
0             Abilene Christian University  79699.0
1     Abraham Baldwin Agricultural College  31793.0
2                Academy of Art University  94105.0
3                   Adams State University  81101.0
4                       Adelphi University  11530.0
...                                    ...      ...      ...       ...
2069                          York College  68467.0
2070          York College of Pennsylvania  17403.0
2071                  Young Harris College  30582.0
2072           Youngstown State University  44555.0
2073                          Yuba College  95901.0

[2074 rows x 4 columns]

In [12]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
params = {
    "key": googlekey,
    
}
    
for index, row  in latlongbook3.iterrows():
        params["address"] = row["Address"]
        response = requests.get(base_url, params=params)
        p_data = response.json()
        print(p_data['results'][0]['geometry']["location"]["lat"])
        print(p_data['results'][0]['geometry']["location"]["lng"])


# latlongbook3["Latitude"]= ""
# latlongbook3["Longitude"]= ""

32.4682778
-99.70794099999999
31.4898959
-83.57096399999999
37.7890183
-122.3915063

IndexError: list index out of range

In [16]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
params = {
    "key": googlekey,
    
}
    
params["address"] = row["Address"]
response = requests.get(base_url, params=params)
p_data = response.json()

print(p_data)

{'results': [{'address_components': [{'long_name': '79699', 'short_name': '79699', 'types': ['postal_code']}, {'long_name': 'Abilene Heights Area', 'short_name': 'Abilene Heights Area', 'types': ['neighborhood', 'political']}, {'long_name': 'Abilene', 'short_name': 'Abilene', 'types': ['locality', 'political']}, {'long_name': 'Taylor County', 'short_name': 'Taylor County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Texas', 'short_name': 'TX', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}], 'formatted_address': 'Abilene, TX 79699, USA', 'geometry': {'bounds': {'northeast': {'lat': 32.4746454, 'lng': -99.703094}, 'southwest': {'lat': 32.4657769, 'lng': -99.7115718}}, 'location': {'lat': 32.4682778, 'lng': -99.70794099999999}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 32.4746454, 'lng': -99.703094}, 'southwest': {'lat': 32.4657769, 'lng': -99.7115718}}}, 'place_id': 'ChIJ23vaUc6RVoYRuk2BMLPgvFs', 'types': ['postal_code']}], 'status': 'OK'}

In [29]:
# Iterating through the json 
# list  



Lat = []
Lng = []

base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
params = {
    "key": googlekey,
    }
    
for index, row  in latlongbook3.iterrows():
        params["address"] = row["Address"]
        response = requests.get(base_url, params=params)
        places_data = response.json()
#         Lat.append(places_data['results'][0]['geometry']["location"]["lat"])
#         Lng.append(places_data['results'][0]['geometry']["location"]["lng"])
 

print(len(places_data))

2