In [1]:
import gmaps
import numpy as np
import pandas as pd
import requests
import json
from pprint import pprint

googlekey = "AIzaSyDNjxDlnRd64VIsyxg2PRcdNw-r1vcSAF4"

#Import existing DF
latlongbook = pd.read_csv("latlongbook.csv")
latlongbook

Empty DataFrame
Columns: [Latitude, Longitude, Name]
Index: []

In [2]:
#Add Address column DF
latlongbook["Address"]= ""
#MAke empty list to hold names and address
name = []
address = []

#Open JSON file
f = open("Resources/data/Schools_Budget.json") 
  
#Return json file as dict
data = json.load(f) 
  

#iterate through json and pull necessary keys
for i in data:
    #Pull four address elements in JSOn
    add1 = i['addr1_txt']
    add2 = i['city_txt']
    add3 = i['state_cd']
    add4 = i['zip_text']
    #append institution name to name list
    name.append(i["institution_name"])
    #append combined address string to address list 
    address.append(f"{add1},{add2},{add3},{add4}")
    
    
# Closing file 
f.close() 
#add name and address list to DF
latlongbook["Name"]= name
latlongbook["Address"]= address

In [3]:
latlongbook

,Latitude,Longitude,Name,Address
0,NaN,NaN,Abilene Christian University,"ACU Box 27916,Abilene,TX,79699"
1,NaN,NaN,Abilene Christian University,"ACU Box 27916,Abilene,TX,79699"
2,NaN,NaN,Abilene Christian University,"ACU Box 27916,Abilene,TX,79699"
3,NaN,NaN,Abilene Christian University,"ACU Box 27916,Abilene,TX,79699"
4,NaN,NaN,Abilene Christian University,"ACU Box 27916,Abilene,TX,79699"
...,...,...,...,...
17767,NaN,NaN,Yuba College,"2088 N Beale Rd,Marysville,CA,95901"
17768,NaN,NaN,Yuba College,"2088 N Beale Rd,Marysville,CA,95901"
17769,NaN,NaN,Yuba College,"2088 N Beale Rd,Marysville,CA,95901"
17770,NaN,NaN,Yuba College,"2088 N Beale Rd,Marysville,CA,95901"
17771,NaN,NaN,Yuba College,"2088 N Beale Rd,Marysville,CA,95901"

In [4]:
#drop duplicate values
latlongbook1 = latlongbook.drop_duplicates()
#drop lat and lng columns
latlongbook2 = latlongbook1[["Name", "Address"]]
#reset index
latlongbook3 = latlongbook2.reset_index(drop=True)
latlongbook3

,Name,Address
0,Abilene Christian University,"ACU Box 27916,Abilene,TX,79699"
1,Abraham Baldwin Agricultural College,"2802 Moore Hwy,Tifton,GA,31793"
2,Academy of Art University,"79 New Montgomery,San Francisco,CA,94105"
3,Adams State University,"208 Edgemont Blvd,Alamosa,CO,81101"
4,Adelphi University,"South Ave,Garden City,NY,11530"
...,...,...
2069,York College,"1125 E 8th St,York,NE,68467"
2070,York College of Pennsylvania,"441 Country Club Rd,York,PA,17403"
2071,Young Harris College,"1 College Street,Young Harris,GA,30582"
2072,Youngstown State University,"One University Plaza,Youngstown,OH,44555"
2073,Yuba College,"2088 N Beale Rd,Marysville,CA,95901"

In [5]:
#re-add lat and lng columns
latlongbook3["Latitude"]= ""
latlongbook3["Longitude"]= ""
latlongbook3

,Name,Address,Latitude,Longitude
0,Abilene Christian University,"ACU Box 27916,Abilene,TX,79699",,
1,Abraham Baldwin Agricultural College,"2802 Moore Hwy,Tifton,GA,31793",,
2,Academy of Art University,"79 New Montgomery,San Francisco,CA,94105",,
3,Adams State University,"208 Edgemont Blvd,Alamosa,CO,81101",,
4,Adelphi University,"South Ave,Garden City,NY,11530",,
...,...,...,...,...
2069,York College,"1125 E 8th St,York,NE,68467",,
2070,York College of Pennsylvania,"441 Country Club Rd,York,PA,17403",,
2071,Young Harris College,"1 College Street,Young Harris,GA,30582",,
2072,Youngstown State University,"One University Plaza,Youngstown,OH,44555",,
2073,Yuba College,"2088 N Beale Rd,Marysville,CA,95901",,

In [ ]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
params = {
    "key": googlekey,
    
}
    
for index, row  in latlongbook3.iterrows():
        params["address"] = row["Address"]
        response = requests.get(base_url, params=params)
        p_data = response.json()
print(p_data[0])

In [6]:
#gmaps api pull
Lat = []
Lng = []
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
params = {
    "key": googlekey,
    
}
    
for index, row  in latlongbook3.iterrows():
        params["address"] = row["Address"]
        response = requests.get(base_url, params=params)
        p_data = response.json()
        try:
            Lat.append(p_data['results'][0]['geometry']["location"]["lat"])
            Lng.append(p_data['results'][0]['geometry']["location"]["lat"])
        except:
            Lat.append(0)
            Lng.append(0)

In [7]:
len(Lng)

2074

In [9]:
latlongbook3["Latitude"]= Lat
latlongbook3["Longitude"]= Lng

In [10]:
latlongbook3

,Name,Address,Latitude,Longitude
0,Abilene Christian University,"ACU Box 27916,Abilene,TX,79699",32.469732,32.469732
1,Abraham Baldwin Agricultural College,"2802 Moore Hwy,Tifton,GA,31793",31.481969,31.481969
2,Academy of Art University,"79 New Montgomery,San Francisco,CA,94105",37.787958,37.787958
3,Adams State University,"208 Edgemont Blvd,Alamosa,CO,81101",37.471090,37.471090
4,Adelphi University,"South Ave,Garden City,NY,11530",40.722797,40.722797
...,...,...,...,...
2069,York College,"1125 E 8th St,York,NE,68467",40.869090,40.869090
2070,York College of Pennsylvania,"441 Country Club Rd,York,PA,17403",39.946746,39.946746
2071,Young Harris College,"1 College Street,Young Harris,GA,30582",34.933060,34.933060
2072,Youngstown State University,"One University Plaza,Youngstown,OH,44555",41.106641,41.106641
2073,Yuba College,"2088 N Beale Rd,Marysville,CA,95901",39.125085,39.125085

In [11]:
latlongbook3.to_csv("latlongbook.csv", index = False)

In [ ]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
params = {
    "key": googlekey,
    
}
    
for index, row  in latlongbook3.iterrows():
        params["address"] = row["Address"]
        response = requests.get(base_url, params=params)
        p_data = response.json()
        print(p_data['results'][0]['geometry']["location"]["lng"])

In [ ]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
params = {
    "key": googlekey,
    
}
    
params["address"] = row["Address"]
response = requests.get(base_url, params=params)
p_data = response.json()

print(p_data)

In [ ]:
# Iterating through the json 
# list  



Lat = []
Lng = []

base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
params = {
    "key": googlekey,
    }
    
for index, row  in latlongbook3.iterrows():
        params["address"] = row["Address"]
        response = requests.get(base_url, params=params)
        places_data = response.json()
#         Lat.append(places_data['results'][0]['geometry']["location"]["lat"])
#         Lng.append(places_data['results'][0]['geometry']["location"]["lng"])
 

print(len(places_data))