In [1]:
import pandas as pd
import numpy as np

In [4]:
excel_file = "Resources/data/StateTaxData.xlsx"
df = pd.read_excel(excel_file, header=[0,1])
df.head()

                                 Tax Description               Code  \
                              Unnamed: 0_level_1 Unnamed: 1_level_1
0                                    Total Taxes                NaN
1                                 Property taxes                T01
2                 Sales and gross receipts taxes                NaN
3               General sales and gross receipts                T09
4       Selective sales and gross receipts taxes                NaN

  U.S. Total (excludes Washington, D.C.)                            \
                                 2020 Q2      2020 Q1      2019 Q2
0                            239003096.0  267819233.0  336729246.0
1                              4210038.0    4778311.0    4317671.0
2                                    NaN          NaN          NaN
3                             77381150.0   83556671.0   93583744.0
4                                    NaN          NaN          NaN

                                             Alabama                    ...  \
  2020 Q2 from 2020 Q1 2020 Q2 from 2019 Q2  2020 Q2  2020 Q1  2019 Q2  ...
0               -10.76               -29.02  2752287  3099840  3289923  ...
1               -11.89                -2.49    21015   192723    16240  ...
2                  NaN                  NaN      NaN      NaN      NaN  ...
3                -7.39               -17.31   865309   835399   851144  ...
4                  NaN                  NaN      NaN      NaN      NaN  ...

  Wyoming                                                            \
  2020 Q2 2020 Q1 2019 Q2 2020 Q2 from 2020 Q1 2020 Q2 from 2019 Q2
0  629426  445873  776817                41.17               -18.97
1  105243   36576   96158               187.74                 9.45
2     NaN     NaN     NaN                  NaN                  NaN
3  158566  182825  180950               -13.27               -12.37
4     NaN     NaN     NaN                  NaN                  NaN

  Washington, D.C.
           2020 Q2  2020 Q1  2019 Q2 2020 Q2 from 2020 Q1 2020 Q2 from 2019 Q2
0          1676406  2408012  2140788               -30.38               -21.69
1           442154   948395   328363               -53.38                34.65
2              NaN      NaN      NaN                  NaN                  NaN
3           222473   391989   427451               -43.25               -47.95
4              NaN      NaN      NaN                  NaN                  NaN

[5 rows x 262 columns]